<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">
      Posts
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' if signed_in? %>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <% @posts.each do |post| %>
        <div class="blog-post">
          <hr>

          <h2 class="blog-post-title">
            <%= link_to post.title, post %>
          </h2>

          <hr>

          <h3 class="blog-post-body">
            <%= post.body.truncate(40) %>
          </h3>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success' if signed_in? %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if signed_in? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
